header {
    position: relative;
}
.xblog-header {
    color: #fff;
    display: flex;
    width: 100%;
    height: 400px;
}
.xblog-header img {
    object-fit: cover;
}
.xblog-head-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ddd;
    font-weight: 300;
    padding: 1rem 2rem 1rem 1rem;
    background-color: #111;
}

/*Articles*/
.xwrap-blog-article {
    padding: 3rem 0;
}
.xblog-articles {
    color: #111;
}
.xblog-article-list {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}
.xa-blog-article {
    color: #111;
    display: flex;
    flex-direction: column;
}
.xa-blog-article h4 {
    margin: 0px 0 5px 0;
}
.xa-blog-article img {
    width: 100%;
}
.xa-blog-article button {
    margin-top: 1rem;
    align-self: flex-end;
    width: 120px;
}
.xblog-article-content {
    padding: 10px;
    background-color: rgb(238, 238, 238);
}

@media (max-width: 1100px) {
    .xblog-head-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #ddd;
      font-size: 18px;
      font-weight: normal;
      /* flex: 1; */
      /* padding: 1rem 2rem 1rem 1rem; */
      padding: 3rem;
      background-color: #111;
    }
  }